.game-selector .cards {
  width: 125px;
  height: 170px;
  position: relative;
  margin: 0 auto;
}

.game-selector .card {
  position: absolute;
  width: 65px;
  padding: 10px;
}
.game-selector .card .card-image {
  height: 45px;
}

.game-selector .card:nth-child(1) {
  left: 0px;
  top: 0px;
  transform: rotate(7deg);
}
.game-selector .card:nth-child(2) {
  left: 50px;
  top: 25px;
  transform: rotate(-14deg);
}
.game-selector .card:nth-child(3) {
  left: 1px;
  top: 55px;
  transform: rotate(26deg);
}
