.previous-selection .cards {
  display: inline-flex;
  justify-content: center;
  background-color: rgba(0,0,0, 30%);
  padding: 3px;
  border-radius: 4px;
}

.previous-selection .card {
  margin: 3px;
}

.previous-selection .card-content > svg {
  width: min(14vw, 10vh);
}

.previous-selection .card img {
  height: 8vh;
}
