.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  border: 0px;
  border-radius: 4px;
}

.card.selected {
  filter: brightness(0.7);
}

@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  5%   { transform: rotate(2deg); }
  10%  { transform: rotate(-2deg); }
  15%  { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.card.hint {
  box-shadow: 0 0 0 3px #FF0;
  animation: wiggle 5s infinite;
}

.card-content {
  align-self: center;
  display: flex;
}

.card svg {
  margin: 20px;
  max-height: 10vh;
}

.card img {
  border-radius: 4px;
  max-height: 15vh;
}
